<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>

    <button onclick="window.location.href='/presupuesto/buscar'">Buscar</button>
    <button onclick="window.location.href='/presupuesto/add'">agregar producto</button>
    <button onclick="window.location.href='/presupuesto/category'">categorias</button>

    <ul>
        {% for product in products %}
        <li>{{ product.nombre }} - {{ product.precio }}$ - {{ product.categoria }}</li>
        {% endfor %}
    </ul>
</body>
</html>